bin/
obj/
*.user
*.suo
*.cache
.vscode/
.DS_Store
Thumbs.db
vendor/tldr/tldr.zip
vendor/tldr/pages/
data/tldr/pages/
data/pshelp/
data/index.json
CmdBrutPS/
**/CmdBrutPS/index.json
**/CmdBrutPS/tldr/
